#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "zmk-helpers/helper.h"
#include "zmk-helpers/unicode-chars/german.dtsi"
//https://github.com/urob/zmk-helpers#international-charactersherunterladen

#define ___ &none
#define DEF 0
#define LOW 1
#define HIG 2
#define LOL 3
#define EGO 4

ZMK_UNICODE_SINGLE(euro_sign, N2, N0, A, C)  // €

&mt {
    tapping-term-ms = <170>;
};

/ {
        chosen {
                zmk,matrix_transform = &five_column_transform;
        };

        combos {
                compatible = "zmk,combos";
                
                combo_lol {
                      timeout-ms = <50>;
                      key-positions = <32 33>;
                      bindings = <&tog LOL>;
                };

                combo_ego {
                        timeout-ms = <50>;
                        key-positions = <4 5>;
                        bindings = <&tog EGO>;
                };
        };

        macros {
                macro_nice_tutorial: macro_nice_tutorial {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        tap-ms = <2>;
                        bindings 
                                = <&macro_press &kp LSHFT>
                                , <&macro_tap &kp RET>
                                , <&macro_release &kp LSHFT>
                                , <&macro_tap &kp N &kp I &kp C &kp E &kp SPACE &kp T &kp U &kp T &kp O &kp R &kp I &kp A &kp L &kp RET>
                                ;
                };

                macro_gg: macro_gg {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        tap-ms = <2>;
                        bindings 
                                = <&macro_press &kp LSHFT>
                                , <&macro_tap &kp RET>
                                , <&macro_release &kp LSHFT>
                                , <&macro_tap &kp G &kp G &kp SPACE &kp W &kp P &kp RET>
                                ;
                };

                macro_ez: macro_ez {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        tap-ms = <2>;
                        bindings
                                = <&macro_press &kp LSHFT>
                                , <&macro_tap &kp RET>
                                , <&macro_release &kp LSHFT>
                                , <&macro_tap &kp E &kp Z &kp RET>
                                ;
                };

                macro_ff: macro_ff {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        tap-ms = <2>;
                        bindings
                                = <&macro_press &kp LSHFT>
                                , <&macro_tap &kp RET>
                                , <&macro_release &kp LSHFT>
                                , <&macro_tap &kp F &kp F &kp RET>
                                ;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                def_layer {
                        display-name = "DEF";
                        bindings = <
                                &kp Q &kp W &kp E &kp R &kp T &kp Z &kp U &kp I &kp O &kp P
                                &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp LSHFT 
                                &kp Y &kp X &kp C &kp V &kp B &kp N &kp M &kp DOT &kp COMMA &kp SLASH
                                &kp LCTRL &kp ESC &lt HIG SPACE &lt LOW RET &kp BACKSPACE &kp LGUI 
                        >;
                };

                low_layer {
                        display-name = "LOW";
                        bindings = <
                                &kp EXCL &kp DOUBLE_QUOTES &kp HASH &kp DLLR &kp PERCENT &kp AMPERSAND &kp PLUS &kp GRAVE &kp PIPE &kp BACKSLASH
                                &kp TAB &kp MINUS &kp STAR &kp EQUAL &kp COLON &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp AT
                                &kp SQT &kp CARET &kp TILDE &kp UNDERSCORE &kp SEMICOLON &kp LT &kp GT  &kp SLASH &kp QUESTION ___
                                &kp DEL &kp LALT &kp RET ___ &kp RET &kp DEL 
                        >;
                };

                hig_layer {
                        display-name = "HIG";
                        bindings = <
                                &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
                                &kp TAB ___ &kp LBRC &kp LBKT &kp LPAR &kp RPAR &kp RBKT &kp RBRC ___ ___
                                ___ ___ ___ ___ ___ &de_ae &de_ue &de_oe &euro_sign &de_eszett
                                &kp DEL &kp SPACE ___ &kp RET &kp LALT &kp DEL
                        >;
                };

                lol_layer {
                        display-name = "LOL";
                        bindings = <
                                &mt P ESC &kp N1 &kp N2 &kp N3 &kp N4 &kp T &kp U ___ &macro_gg &macro_nice_tutorial
                                &kp TAB &kp Q &kp W &kp E &kp R ___ ___ ___ ___ &macro_ez 
                                ___ &kp A &kp Y &kp D &kp F &kp B ___ ___ ___ &macro_ff 
                                &kp LCTRL &kp LALT &kp SPACE ___ ___ ___
                        >;
                };

                ego_layer {
                        display-name = "EGO";
                        bindings = <
                                &kp ESC &kp Q &kp W &kp E &kp R ___ ___ ___ ___ &tog EGO 
                                &kp TAB &kp A &kp S &kp D &kp F &kp G ___ ___ ___ ___
                                &kp LSHFT &kp Y ___ &kp C &kp B &kp N &kp M ___ ___ ___
                                &kp LCTRL &kp LALT &kp SPACE ___ ___ ___
                        >;
                };
        };
};